.copyright {

}

.copyright__wrapper {
  display: flex;
  align-items: center;
}

.copyright__text {
  display: block;
  margin: 0;
  margin-right: 15px;
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 34px;
  border: none;

  &:hover .copyright__icon {
    fill: black;
  }

  &:active .copyright__icon {
    fill: black;
    opacity: 0.3;
  }

}

.copyright__icon {
  fill: $pink-color;
}
