.upload {
  @media (max-width: $desktop-width) {
    background-color: $section-bg;
  }
}

.upload__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 41px;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 45px;
    align-items: stretch;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    gap: 90px;
    background-color: $section-bg;
  }
}

.upload__image {

}

.upload__form {
  display: flex;
  flex-direction: column;
}

.upload__range-wrapper {
  height: 70px;
}

.upload__range {
  width: 100%;
}

.upload__range--crop {

}

.upload__range--fill {

}

.upload__range--contrast {

}

.upload__button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    gap: 24px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 44px;
  }
}

.upload__button {

}

.upload__button--post {

}

.upload__button--reset {

}
