.upload {

}

.upload__wrapper {
  display: grid;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 41px;
}

.upload__image {

}

.uplaod__form {

}

.upload__range-wrapper {

}

.upload__range {

}

.upload__range--crop {

}

.upload__range--fill {

}

.upload__range--contrast {

}

.upload__button-wrapper {

}

.upload__button {

}

.upload__button--post {
  margin-bottom: 12px;
}

.upload__button--reset {

}
