.button {
  display: inline-block;
  padding: 10px 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:disabled {
    color: #283645;
    border-color: #283645;
    opacity: 0.1;
  }
}

.button--download {
  width: 280px;
  padding: 15.5px 0;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 29px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }

  &:hover {
    background-color: #ffffff;
    color: $pink-color;
  }

  &:active {
    background-color: #ffffff;
    color: transparentize($pink-color, 0.7);
  }
}

.button--upload {
  width: 280px;
  padding: 15.5px 0;
  color: $pink-color;
  border: 3px solid $pink-color;
  border-radius: 30px;

  @media (min-width: $tablet-width) {
    width: 260px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
  }

  &:hover {
    background-color: $pink-color;
    color: #ffffff;
  }

  &:active {
    background-color: $pink-color;
    color: transparentize(#ffffff, 0.7);
  }
}

.button--upload-cancel {
  width: 280px;
  padding: 15.5px 0;
  color: #283645;
  border: 3px solid #283645;
  border-radius: 30px;
  opacity: 0.1;

  @media (min-width: $tablet-width) {
    width: 260px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
  }

  &:hover {
    opacity: 0.3;
  }

  &:active {
    color: transparentize(#ffffff, 0.7);
    background-color: #283645;
  }
}

.button--form {
  width: 280px;
  min-width: 280px;
  padding: 20.5px 0;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  &:hover {
    background-color: #1C9B5E;
    border-color: #1C9B5E;
  }

  &:active {
    color: transparentize(#ffffff, 0.7);
  }
}
