.contest-form {
  display: flex;
  flex-direction: column;
  gap: 41px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    gap: 59px;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    column-gap: 66px;
    row-gap: 57px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 8px;
  }
}


.contest-form__label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  line-height: 30px;
  font-weight: 400;

  &:not(:last-of-type) {
    margin-bottom: 18px;

    @media (min-width: $tablet-width) {
      margin-bottom: 53px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    gap: 17px;
  }
}


.contest-form__label--phone {
  position: relative;

  // Дурацкая ситуация. Инпуту нельзя добавить ::after, а если ему добавлять обертку html валидатор выдает ошибку.
  // Сделал так, но некрасиво из-за того, что при увеличении размеров инпута все сломается
  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      width: 58px;
      height: 58px;
      background-color: $grey-border;
      background-image: url("../img/phone-icon.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.contest-form__label--mail {
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      width: 58px;
      height: 58px;
      background-color: $grey-border;
      background-image: url("../img/mail-icon.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.contest-form__group--contacts .contest-form__label {
  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    margin-bottom: 13px;
  }
}

.contest-form__label-text {
  display: block;
  text-transform: uppercase;
  color: $pink-color;

  @media (max-width: $mobile-width-only) {
    padding-left: 21px;
  }
}

.contest-form__group--contacts .contest-form__field  {
  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.contest-form__group--contacts .contest-form__label-text {
  @media (min-width: $tablet-width) {
    margin-left: 18px;
  }
}

.contest-form__field {
  padding: 14px 18px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  @include make-form-border;
  flex-grow: 1;

  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: $pink-color;
  }
}

.contest-form__name-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    gap: 24px;
    height: 100%;
    padding-top: 15px;
  }
}

.contest-form__group {
  display: flex;
  flex-direction: column;
  padding: 0;
  @include make-form-border;

  @media (max-width: $mobile-width-only) {
    border: none;
  }

  @media (min-width: $tablet-width) {
    padding-left: 57px;
    padding-right: 57px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.contest-form__group--name {
  border: none;
  padding: 0;
  order: 1;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.contest-form__group--achievements {
  padding-top: 38px;
  order: 2;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    order: 4;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
    padding-bottom: 8px;
  }
}

.contest-form__group--achievements,
.contest-form__group--app {
  @media (max-width: $mobile-width-only) {
    @include reset-side-paddings;
    padding-left: $page-side-paddings;
    padding-right: $page-side-paddings;
    background-color: $section-bg;
  }
}

.contest-form__group--contacts {
  margin-top: -10px;
  order: 3;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-top: 35px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 72px;
    padding-top: 35px;
  }
}

.contest-form__group--app {
  padding-top: 38px;
  order: 4;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}

.contest-form__group--emotions {
  order: 5;
}

.contest-form__group-name {
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $pink-color;

  @media (max-width: $mobile-width-only) {
    float: left;
    // padding-top: 39px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-left: 31px;
    padding-right: 31px;
  }
}

.contest-form__group--contacts .contest-form__group-name {
  @media (max-width: $mobile-width-only) {
    @include hide;
  }
}

.contest-form__group--app .contest-form__group-name {
  @media (min-width: $desktop-width) {
    margin-left: -25px;
    margin-right: -25px;
    padding-left: 23px;
    padding-right: 23px;
  }
}

.contest-form__textarea {
  width: 100%;
  min-height: 200px;
  margin-top: 14px;
  padding: 20px;
  padding-top: 14px;
  @include make-form-border;
  font: inherit;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    min-height: 194px;
    margin-top: 35px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    min-height: 128px;
    margin-top: 34px;
    margin-bottom: 42px;
  }
}

.contest-form__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;

  order: 999;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.contest-form__small {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    margin-top: 34px;
  }

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.contest-form__small .contest-form__small-star {
  color: $pink-color;
}

.contest-form__small-only-desktop {
  display: none;
  font: inherit;
  color: inherit;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
