.download {
  color: #ffffff;

  @media (max-resolution: 1dppx) {
    background-image: url("../img/download-back-mobile.png");
  }
  @media (min-resolution: 2dppx) {
    background-image: url("../img/download-back-mobile@2x.png");
    background-size: 320px auto;
  }
  background-repeat: no-repeat;
  background-position: 0 175px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    @media (max-resolution: 1dppx) {
      background-image: url("../img/download-back-tablet.png");
    }
    @media (min-resolution: 2dppx) {
      background-image: url("../img/download-back-tablet@2x.png");
      background-size: 660px auto;
    }
    background-position: 0 100%;
  }

  @media (min-width: $desktop-width) {
    @media (max-resolution: 1dppx) {
      background-image: url("../img/download-back-desktop.png");
    }
    @media (min-resolution: 2dppx) {
      background-image: url("../img/download-back-desktop@2x.png");
      background-size: 1050px auto;
    }
    background-position: 98% 100%;
  }
}

.download__wrapper {
  @media (min-width: $tablet-width) {
    width: 300px;
    padding-bottom: 112px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 123px;
  }
}

.download__slogan {
  display: block;
  height: 461px;
  padding-top: 89px;
  box-sizing: border-box;
  text-align: center;

  @media (min-width: $tablet-width) {
    height: auto;
    margin-bottom: 30px;
    padding-top: 204px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 209px;
    margin-bottom: 37px;
  }
}

.download__slogan-text {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 240px;
    margin-right: auto;
    margin-left: auto;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.download__slogan-text br {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.download__phone-img {
  display: block;
}

.download__button {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.download__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    @include reset-side-paddings();
    // Решить что делать с паддингами
    padding-right: $page-side-paddings;
    padding-left: $page-side-paddings;
    padding-top: 28px;
    padding-bottom: 31px;
    background-color: #1d2631;
  }
}

.downlaod__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.download__item {
  max-width: 100px;
  max-height: 100px;

  &:not(:last-of-type) {
    margin-right: 34px;
  }
}

.download__market-button {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}

.download__market-button--apple {
  width: 47px;
  height: 56px;
  transform: translateY(1px);
  background-image: url("../img/apple-logo.svg");
}

.download__market-button--android {
  width: 43px;
  height: 47px;
  transform: translateY(3px);
  background-image: url("../img/android-logo.svg");
}

.download__market-button--ms {
  width: 44px;
  height: 41px;
  transform: translate(1px, 5px);
  background-image: url("../img/microsoft-logo.svg");
}

.download__info-wrapper {
  // margin: 0 auto;
}

.download__info {
  display: inline-block;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
