.effect {
  padding-top: 54px;
  padding-bottom: 67px;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    background-color: $body-second-bg;
  }
}

.effect__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 276px;
  padding-left: 310px;

  @media (min-width: $desktop-width) {
    min-height: 345px;
    padding-left: 369px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 238px;
    height: 276px;
    background-image: url("../img/timer-tablet.svg");

    @media (min-width: $desktop-width) {
      width: 298px;
      height: 345px;
      background-image: url("../img/timer-desktop.svg");
    }
  }
}

.effect__title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 92px;
  }
}

.effect__text {
  width: 296px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;

  @media (min-width: $desktop-width) {
    width: 550px;
    margin-top: 22px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }
}

.effect a {
  color: $pink-color;
  font-weight: 400;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
