.slider__toggles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 56px;
}

.slider__toggle {
  width: 6px;
  height: 6px;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  border: none;
  border-radius: 50%;
  background-color: transparentize(#283645, 0.7);
  cursor: pointer;

  &:hover {
    background-color: transparentize(#283645, 0.4);
  }

  &:active {
    background-color: transparentize(#283645, 0.9);
  }
}

.slider__toggle--current {
  &::after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 50%;
  }
}

.slider__button {
  display: inline-block;
  width: 22px;
  height: 41px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider__button .slider__button-icon {
  fill: transparentize(#283645, 0.7);

  &:hover {
    fill: transparentize(#283645, 0.4);
  }

  &:active {
    fill: transparentize(#283645, 0.9);
  }
}

.slider__button--next {
  transform: rotate(180deg);
}
