.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__item {
  &:not(:last-of-type) {
    margin-right: 8px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  box-sizing: content-box;
  border: 3px solid transparentize($font-color-typical, 0.9);
  border-radius: 50%;

  &:hover {
    border-color: $font-color-typical;
  }

  &:active {
    border-color: $font-color-typical;
    opacity: 0.1;
  }
}
