.tariffs {
  padding-top: 79px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
    padding-bottom: 56px;
  }
}

.tariffs__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    @include reset-side-paddings();
  }
}

.tariffs__table-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;

  @media (max-width: $mobile-width-only) {
    overflow-x: auto;
  }
}

.tariffs__table {
  margin-bottom: 44px;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.tariffs__item {
  min-width: 276px;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 26px;
  background-color: #283645;
  color: #ffffff;
  line-height: 30px;

  &:first-of-type {
    background-color: transparent;

    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 153px;
    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    min-width: 233px;
    padding-bottom: 19px;
  }
}

.tariffs__item--hit {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-2px);
    width: 74px;
    height: 74px;
    background-image: url("../img/hit-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    &::after {
      transform: translate(0, 0);
      width: 61px;
      height: 61px;
      background-image: url("../img/hit-tablet.svg");
    }
  }
}

.tariffs__item-wrapper {
  display: flex;
  flex-direction: column;
}

.tariffs__name {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.tariffs__price {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.tariffs__feature {
  font-weight: 400;
  line-height: 30px;
  background-color: #ffffff;

  @media (max-width: $mobile-width-only) {
    text-transform: uppercase;
  }

  @media (min-width: $desktop-width) {
    max-width: 233px;
    font-size: 18px;
  }
}

.tariffs__feature--name {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.tariffs__feature-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 23px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 25px;
  }
}

.tariffs__feature--name .tariffs__feature-wrapper {
  justify-content: flex-start;
}

.tariffs__row:not(:first-of-type) .tariffs__feature-wrapper {
  @media (max-width: $mobile-width-only) {
    justify-content: space-between;
  }
}

.tariffs__row--pink .tariffs__feature-wrapper {
  &::before {
    @media (max-width: $mobile-width-only) {
      content: "Розовый фильтр";
      display: block;
      font: inherit;
    }
  }
}

.tariffs__row--smile .tariffs__feature-wrapper {
  &::before {
    @media (max-width: $mobile-width-only) {
      content: "Смайлики";
      display: block;
      font: inherit;
    }
  }
}

.tariffs__row--comments .tariffs__feature-wrapper {
  &::before {
    @media (max-width: $mobile-width-only) {
      content: "Комментарии";
      display: block;
      font: inherit;
    }
  }
}

.tariffs__mark {
  transform: translate(9px, 5px);

  @media (min-width: $tablet-width) {
    transform: translate(6px, -1px);
  }

  @media (min-width: $desktop-width) {
    transform: translate(3px, -1px);
  }
}

.tariffs__feature--yes .tariffs__mark {
  display: inline-block;
  width: 31px;
  height: 21px;
  background-image: url("../img/feature-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tariffs__feature--no .tariffs__mark {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../img/feature-no.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tariffs__toggles {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
