.main-nav {

}

.main-nav__wrapper {
  @media (max-width: $desktop-width) {
    @include reset-side-paddings();
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.main-nav__item:not(:last-of-type) .main-nav__link {
  @media (min-width: $desktop-width) {
    margin-right: 78px;
  }
}

.main-nav__item--head {
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 23px;

  @media (min-width: $desktop-width) {
    justify-content: left;
    margin-right: 173px;
  }
}

.main-nav__link {
  display: block;
  width: 100%;
  padding: 15px 0;
  padding-right: $page-side-paddings;
  padding-left: $page-side-paddings;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #283645;

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    background-color: transparent;
  }
}

.main-nav__toggle {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
