// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$min-mobile-width: 320px;


$page-side-paddings: 20px;
$page-side-paddings-dekstop: 130px;
$body-second-bg: #f2f2f2;
$pink-color: #d22856;
$download-bg: #1d2631;
$font-color-typical: #283645;
$grey-border: #E5E5E5;
$page-header-bg: rgba(0, 0, 0, 0.3);
$user-post-bg: $body-second-bg;


