.button {
  display: inline-block;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:disabled {
    color: #283645;
    border-color: #283645;
    opacity: 0.1;
  }
}

.button--download {
  width: 280px;
  padding: 15.5px 0;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 29px;
}

.button--upload {
  width: 280px;
  padding: 15.5px 0;
  color: $pink-color;
  border: 3px solid $pink-color;
  border-radius: 30px;

  @media (min-width: $tablet-width) {
    width: 260px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
  }
}

.button--form {
  width: 280px;
  padding: 15.5px 0;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
}
