.logo {
  text-decoration: none;
}

.logo--header .logo__pink {
  fill: #ffffff;
}

.logo--header .logo__glasses {
  fill: #ffffff;
}

.logo--footer .logo__glasses {
  fill: $pink-color;
}

.logo__pink-star {
  fill: $pink-color;
}

.logo--header .logo__glasses-stars {
  fill: $pink-color;
}

.logo:hover .logo__pink,
.logo:hover .logo__glasses,
.logo:hover .logo__pink-star,
.logo:hover .logo__glasses-stars {
  fill: $pink-color;
}

.logo--header:hover .logo__pink-star,
.logo--header:hover .logo__glasses-stars  {
  fill: gold; // сам решил добавить))
}

.logo--header:active .logo__pink,
.logo--header:active .logo__glasses,
.logo--header:active .logo__pink-star,
.logo--header:active .logo__glasses-stars {
  fill: #ffffff;
  opacity: 0.3;
}

.logo--footer:active .logo__pink,
.logo--footer:active .logo__glasses-stars {
  fill: #000000;
  opacity: 0.3;
}

.logo--footer:active .logo__glasses,
.logo--footer:active .logo__pink-star {
  fill: $pink-color;
  opacity: 0.3;
}


.logo--mobile {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo--footer .logo--mobile {
  display: none;
}

.logo--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo--footer .logo--tablet {
  display: block;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
