.logo {
  text-decoration: none;
}

.logo__glasses {

}

.logo__text {

}

.logo__glasses + .logo__text {
  margin-left: 12px;
}

.logo__text--header {
  fill: #ffffff;
}

.logo__glasses--header {
  display: none;
  fill: #ffffff;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}
