.slider {

}

.slider__list {

}

.slider__item {

}

.slider__toggles {
  align-items: center;
}

.slider__toggle {
  width: 6px;
  height: 6px;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  border: none;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
  cursor: pointer;

  &:not(:last-of-type), {
    margin-right: 19px;
  }
}

.slider__toggle--current {
  background-color: transparent;
  border: 3px solid #000000;
}

.slider__button {
  display: inline-block;
  width: 22px;
  height: 41px;
  margin: 0;
  padding: 0;
  background-image: url("../img/arrow-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

.slider__button--next {
  transform: rotate(180deg);
}
