.contest-form {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


.contest-form__label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 30px;
  font-weight: 400;

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}

.contest-form__group--contacts .contest-form__label  {
  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }
}

.contest-form__label-text {
  display: block;
  text-transform: uppercase;
  color: $pink-color;

  @media (max-width: $mobile-width-only) {
    padding-left: 23px;
  }
}

.contest-form__group--contacts .contest-form__field  {
  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.contest-form__field {
  padding: 20px 20px;
  box-sizing: border-box;
  font-size: 18px;
  @include make-form-border;
  flex-grow: 1;
}

.contest-form__name-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.contest-form__group {
  display: flex;
  flex-direction: column;
  padding: 0;
  @include make-form-border;

  @media (max-width: $mobile-width-only) {
    border: none;
  }

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.contest-form__group--name {
  border: none;
  padding: 0;
  order: 1;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.contest-form__group--achievements {
  order: 2;

  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.contest-form__group--achievements,
.contest-form__group--app {
  @media (max-width: $mobile-width-only) {
    @include reset-side-paddings;
    padding-left: $page-side-paddings;
    padding-right: $page-side-paddings;
    background-color: $section-bg;
  }
}

.contest-form__group--contacts {
  padding-top: 42px;
  padding-bottom: 42px;
  order: 3;
}

.contest-form__group--app {
  order: 4;

  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}

.contest-form__group--emotions {
  order: 5;
}

.contest-form__group-name {
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $pink-color;

  @media (max-width: $mobile-width-only) {
    float: left;
    padding-top: 42px;
  }
}

.contest-form__group--contacts .contest-form__group-name {
  @media (max-width: $mobile-width-only) {
    @include hide;
  }
}

.contest-form__textarea {
  width: 100%;
  padding: 20px;
  @include make-form-border;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

.contest-form__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  order: 999;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.contest-form__small {
  display: block;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    margin-top: 46px;
  }

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.contest-form__small span {
  color: $pink-color;
}

