.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: $page-side-paddings;
  padding-left: $page-side-paddings;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    max-width: $tablet-width-only;
    padding-right: $page-side-paddings-dekstop;
    padding-left: $page-side-paddings-dekstop;
  }
}
