.group {

}

.group__list {
  display: grid;
  row-gap: 47px;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 35px;
  list-style-type: none;
}

.group__list--grid {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}

.group__item {
  // width: 100%;
}


.group__label {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 22px;
}

.group__control-input {

}

.group__control-mark {
  position: relative;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 1px;

  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: $pink-color;
  }
}

.group__control-input[type="radio"] + .group__control-mark {
  border-radius: 50%;
}

.group__control-input[type="checkbox"]:checked + .group__control-mark {
  background-image: url("../img/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.group__control-input[type="radio"]:checked + .group__control-mark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
  width: 15px;
  height: 15px;
  background-color: $pink-color;
  border-radius: 50%;
}

.group__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
