.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $font-color-typical;
  background-image: url("../../img/back-mobile.jpg");

  @media (max-resolution: 1dppx) {
    background-image: url("../img/back-mobile.jpg");
    background-size: cover;
  }
  @media (min-resolution: 2dppx) {
    background-image: url("../../img/back-mobile@2x.jpg");
    background-size: 320px auto; // Как сделать cover и при этом сохранить габариты???
  }
  background-repeat: no-repeat;
  background-position-x: center;

  @media (min-width: 500px) {
    @media (max-resolution: 1dppx) {
      background-image: url("../img/back-tablet.jpg");
      background-size: auto;
    }
    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  @media (min-width: $desktop-width) {
    @media (max-resolution: 1dppx) {
      background-image: url("../img/back-desktop.jpg");
      background-size: auto;
    }
    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }
}

.page__h1-wrapper {
  min-height: 237px;
  padding-top: 102px;

  @media (min-width: $tablet-width) {
    min-height: 440px;
    padding-top: 191px;
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
    padding-top: 184px;
  }
}

.page__h1 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
}

.page__advice {
  display: block;
  margin: 0;
  padding-top: 54px;
  margin-bottom: 55px;
}

.page__text {
  line-height: 30px;
  text-align: center;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
