.page-header {
  z-index: 1;
  position: absolute;
  width: 100%;

  background-color: $page-header-bg;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width-only) {
    max-width: none;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
  }
}
