.page-footer {

}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {

}

.page-footer__social {
  margin-top: -3px;
  margin-bottom: -3px;
}

.page-footer__copyright {

}
