.tariffs {
  padding-top: 80px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
  }
}

.tariffs__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include reset-side-paddings();
}

.tariffs__table-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;

  @media (max-width: $mobile-width-only) {
    overflow-x: auto;
  }
}

.tariffs__table {
  margin-bottom: 45px;
  width: 100%;
}

.tariffs__row {

}

.tariffs__item {
  min-width: 276px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 27px;
  background-color: #283645;
  color: #ffffff;
  line-height: 30px;
  // border: 1px solid tomato;


  &:first-of-type {
    background-color: transparent;
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 152px;
    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 19px;
  }
}

.tariffs__item--hit {
  @media (max-width: $mobile-width-only) {
    // Как растянуть на всю ширину экрана?
  }
}

.tariffs__item-wrapper {
  display: flex;
  flex-direction: column;
}

.tariffs__name {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.tariffs__price {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.tariffs__feature {
  // height: 59px; // min-height не работает почему-то
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.tariffs__feature--name {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.tariffs__feature-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.tariffs__feature--name .tariffs__feature-wrapper {
  justify-content: flex-start;
}

.tariffs__row:not(:first-of-type) .tariffs__feature-wrapper {
  @media (max-width: $mobile-width-only) {
    justify-content: space-between;
  }
}

// Неуниверсальный метод, т.к. приходится прописывать название из таблички вручную, переделать потом
.tariffs__row--pink .tariffs__feature-wrapper {
  &::before {
    @media (max-width: $mobile-width-only) {
      content: "Розовый фильтр";
      display: block;
      font: inherit;
    }
  }
}

.tariffs__row--smile .tariffs__feature-wrapper {
  &::before {
    @media (max-width: $mobile-width-only) {
      content: "Смайлики";
      display: block;
      font: inherit;
    }
  }
}

.tariffs__row--comments .tariffs__feature-wrapper {
  &::before {
    @media (max-width: $mobile-width-only) {
      content: "Комментарии";
      display: block;
      font: inherit;
    }
  }
}

.tariffs__feature--yes .tariffs__mark {
  display: inline-block;
  width: 31px;
  height: 21px;
  background-image: url("../img/feature-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tariffs__feature--no .tariffs__mark {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("../img/feature-no.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tariffs__toggles {
  // margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
