.tariffs {
  padding-top: 79px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
  }
}

.tariffs__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    @include reset-side-paddings();
  }

}

.tariffs__table-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;

  @media (max-width: $mobile-width-only) {
    overflow-x: auto;
  }
}

.tariffs__table {
  margin-bottom: 44px;
  width: 100%;
}

.tariffs__row {

}

.tariffs__item {
  min-width: 276px;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 26px;
  background-color: #283645;
  color: #ffffff;
  line-height: 30px;
  // border: 1px solid tomato;


  &:first-of-type {
    background-color: transparent;
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 152px;
    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 19px;
  }
}

.tariffs__item--hit {
  position: relative;
  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-2px);
      width: 74px;
      height: 74px;
      background-image: url("../img/hit-mobile.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

  }
}

.tariffs__item-wrapper {
  display: flex;
  flex-direction: column;
}

.tariffs__name {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.tariffs__price {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.tariffs__feature {
  // height: 59px; // min-height не работает почему-то
  font-weight: 400;
  line-height: 30px;
  background-color: #ffffff;

  @media (max-width: $mobile-width-only) {
    text-transform: uppercase;
  }
}

.tariffs__feature--name {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.tariffs__feature-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 13px;
    padding-right: 25px;
  }
}

.tariffs__feature--name .tariffs__feature-wrapper {
  justify-content: flex-start;
}

.tariffs__row:not(:first-of-type) .tariffs__feature-wrapper {
  @media (max-width: $mobile-width-only) {
    justify-content: space-between;
  }
}

// Неуниверсальный метод, т.к. приходится прописывать название из таблички вручную, переделать потом
.tariffs__row--pink .tariffs__feature-wrapper {
  &::before {
    @media (max-width: $mobile-width-only) {
      content: "Розовый фильтр";
      display: block;
      font: inherit;
    }
  }
}

.tariffs__row--smile .tariffs__feature-wrapper {
  &::before {
    @media (max-width: $mobile-width-only) {
      content: "Смайлики";
      display: block;
      font: inherit;
    }
  }
}

.tariffs__row--comments .tariffs__feature-wrapper {
  &::before {
    @media (max-width: $mobile-width-only) {
      content: "Комментарии";
      display: block;
      font: inherit;
    }
  }
}

.tariffs__feature--yes .tariffs__mark {
  display: inline-block;
  width: 31px;
  height: 21px;
  transform: translate(9px, 5px);
  background-image: url("../img/feature-yes.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    transform: translate(6px, -1px);
  }
}

.tariffs__feature--no .tariffs__mark {
  display: inline-block;
  width: 27px;
  height: 27px;
  transform: translate(7px, 4px);
  background-image: url("../img/feature-no.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    transform: translate(6px, -1px);
  }
}

.tariffs__toggles {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
