.download {
  display: flex;
  justify-content: center;
  // color: #ffffff;
  color: tomato; // временно

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }
}

.download__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.download__slogan {
  display: block;
  width: 280px;
  height: 461px;
  padding-top: 95px;
  box-sizing: border-box;
  // margin-bottom: 179px;
  text-align: center;

  @media (min-width: $tablet-width) {
    height: auto;
    margin-bottom: 51px;
    padding-top: 212px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 224px;
  }
}

.download__phone-img {
  display: block;
}

.download__button {
  margin-bottom: 32px;
}

.download__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 38px;
  background-color: #1d2631;
}

.downlaod__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  list-style-type: none;
}

.download__item {
  // Временные
  width: 50px;
  height: 50px;
  margin-right: 15px;
  background-color: #ffffff;
}

.download__market-button {
  color: #ffffff;
}

.download__info-wrapper {
  // margin: 0 auto;
}

.download__info {
  display: inline-block;
  text-align: center;
}

